{{#if alert_3}}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  {{alert_3}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}
<head>
    
    <link rel="stylesheet" href="login.css">
</head>
<body>
    
    <div id="login">
        {{!-- <h3 class="text-center text-white pt-5">Login form</h3> --}}
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" class="form" action="" method="post">
                            <h3 class="text-center text-info">Logare</h3>
                            <div class="form-group">
                                <label for="username" class="text-info">Username:</label><br>
                                <input type="text" id="username" name="username" class="form-control" placeholder="Username">
                            </div>
                            <div class="form-group">
                                <label for="password" class="text-info">Parola:</label><br>
                                <input type="password" id="password" name="password" class="form-control" placeholder="Parola">
                            </div>
                            <div class="form-group">
                                {{!-- <label for="remember-me" class="text-info"><span>Remember me</span> <span><input id="remember-me" name="remember-me" type="checkbox"></span></label><br> --}}
                                <input type="submit" class="btn btn-primary" value="Logare">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
